.search-bar{
    background-color: transparent;
    width: 80%;
    padding: 10px 20px;
    border: 3px solid white;
    outline: none;
    border-radius: 10px;
    font-size: 1.3rem;
    color:  white;
}
.search-btn{
    padding: 10px 20px;
    width: 200px;
    border: 3px solid white !important;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 10px;
    transition: all .5s;
}
.search-btn:hover{
    background-color: white;
    color: black;
}